@model WebApplicationForAPInet5.Models.File

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>File</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.extension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.extension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modifiedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modifiedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modifiedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
