@model IEnumerable<WebApplicationForAPInet5.Models.File>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modifiedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modifiedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.extension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modifiedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modifiedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FileId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FileId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FileId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
